*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
/* desctop */
:root{
    --card-width: 440px;
    --card-height:400px;
    --font-size-game-name: 3rem;
    --border-width: 3px;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    display: grid;
    place-items: center;
    height: 100vw;
    width: 100vw;
    background-color: rgb(83, 82, 82);;
}

.container{
    /* height: auto;
    width: auto; */
    width: 1040px;
    height: 880px;
    background:  rgb(83, 82, 82);
}

.starting-page{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(83, 82, 82);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gradient-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);  
    background: rgb(83, 82, 82);
    border-radius: var(--border-width);
}
.gradient-border::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
 }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

.gradient-border h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-left:  20px;
}

.gradient-border h4{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.gradient-border.gradient-underline {
    text-align: center;
    font-weight: 900;
}

.gradient-underline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gradient-underline a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    margin: 0 10px;
}

.gradient-underline a,
.gradient-underline a:after,
.gradient-underline a:before {
    transition: all .5s;
}

.gradient-underline a:hover {
    color:white;
  }
  
.gradient-underline a{
    position: relative;
}

.gradient-underline a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
    height: 2px;
    animation: moveGradient 4s alternate infinite;
  }

.gradient-underline a:hover:after {
    width: 100%;
  }

.end-game-page{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(83, 82, 82);
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.winner-text{
    display: none;
}

.draw-text{
    display: none;
}

.end-game-text h2{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.end-game-text{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-left:  20px;
}

.rainbow-text{
    background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
      /* animation: move 35s linear infinite; */
      color: transparent;
}

@keyframes move {
    to {
      background-position: 4000vh;
    }
}

.restart-game{
    align-self: flex-end;
    margin-bottom: 40px;
}

.game-page{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(83, 82, 82);
    justify-content: center;
    align-items: center;
}

.gradient-border-shimmer {
    position: relative;
    margin: 200px auto 0;
    width: var(--card-width);
    height: var(--card-height);
    background-color: rgb(83, 82, 82); 

} 
  
.gradient-border-shimmer:before, .gradient-border-shimmer:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: shimmer 20s linear infinite;
}
  
@keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.gradient-border-shimmer:after {
    filter: blur(50px);
}

.board{
    width: var(--card-width);
    height: var(--card-height);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 4px  solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    background-color:rgb(141, 29, 233);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: rgba(171, 93, 235, 0.336);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var( --mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after{
    background-color: rgb(248, 21, 108);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: rgba(240, 93, 149, 0.336);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var( --mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var( --mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background: rgb(83, 82, 82) ;
}

.playWithComputerMode{
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.playWithComputerMode h5{
   color: aliceblue;
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 10px;
}

.switch {
	position: relative;
	display: block;
	width: 40px;
	height: 14px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 4px;
	color:black;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
    left: 7px;
	color: black;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14px;
	height: 14px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 26px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}